.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.control-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.array-input-container {
    background-color: floralwhite;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    label {
        font-size: 13px;
        color: #333;
        font-weight: bold;
        margin-left: 5px;
    }

    input {
        margin-top: 20px;
        margin-left: 5px;
        margin-right: 10px;
        padding: 5px;
        font-size: 14px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    button {
        padding: 5px 10px;
        margin-bottom: 10px;
        margin-left: 5px;
        margin-right: 5px;
        background-color: #4caf50;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;

        &:hover {
            background-color: #45a049;
        }
    }
}


.array-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
    margin-bottom: 10px;
}

.array-element {
    background-color: floralwhite;
    border-radius: 5px;

    .array-input-element {
        display: flex;

        .array-menu {
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-left: 5px;

            label {
                font-size: 13px;
                color: #333;
                font-weight: bold;
            }

            input {
                padding: 3px;
                margin-top: 3px;
                border: 1px solid #ccc;
                border-radius: 5px;
                margin-right: 10px;
            }
        }
    }

    .array-button {
        margin-top: 5px;
        margin-bottom: 5px;

        button {
            padding: 5px 10px;
            background-color: #45a049;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;

            &:hover {
                background-color: #b92a2a;
            }
        }
    }
}

.menu-container {
    display: flex;
    gap: 5px;
}

.menu-container button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.menu-container button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.menu-container button:hover:not(:disabled) {
    background-color: #0056b3;
}

.message-container {
    background-color: #007bff;
    color: white;
    padding: 5px;
    border: 2px solid white;
    border-radius: 5px;
    display: inline-block;
    margin-bottom: 10px;
}

canvas {
    min-width: 1500px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.canvas-container {
    width: 100vw;
    height: 500px;
    background-color: white;
    border: 2px solid #ccc;
    border-radius: 10px;
    //overflow-x: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

@media (max-width: 600px) {
    .canvas-container {
        height: 400px;
    }

    .menu-container {
        flex-direction: column;
        align-items: center;
    }

    .menu-container button {
        width: 100%;
        margin-bottom: 10px;
    }
}